.body {
    font-family: Arial;
    margin: 0;
    background: #f1f1f1;
}
.main-nav {
    display: flex;
    background-color: rgb(170, 75, 75);
}
.header{
    background-color: #1abc9c;
    text-align: center;  
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
.header h1 {
    font-size: 50px;
}
.header p {
    font-size: 18px;
}
#topnav {
    padding: 14px;
    text-align: left;
    width: 50%;
}
.top-nav-right {
    display: flex; width: 50%; justify-content: flex-end;
    align-items: center; padding-right: 2em;
}
.links, #links-right {
    color: white;
    margin-left: 20px;
    -ms-flex-align: end;
}
#main-nav, a:hover {
        background-color: rgba(255, 255, 255, 0.781);
}
a:link {
    color:white;
}
.left-side-bar {
    display: flex;
    border: 2px color black;
    background-color: bisque;
}
.right-body {
    display: flex;
    border: 2px color black;
}